@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sf5w95loxM {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sf5w95loxM nav.navbar {
  position: fixed;
}
.cid-sf5w95loxM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sf5w95loxM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sf5w95loxM .dropdown-item:hover,
.cid-sf5w95loxM .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sf5w95loxM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sf5w95loxM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sf5w95loxM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sf5w95loxM .nav-link {
  position: relative;
}
.cid-sf5w95loxM .container {
  display: flex;
  margin: auto;
}
.cid-sf5w95loxM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sf5w95loxM .dropdown-menu,
.cid-sf5w95loxM .navbar.opened {
  background: #ffffff !important;
}
.cid-sf5w95loxM .nav-item:focus,
.cid-sf5w95loxM .nav-link:focus {
  outline: none;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sf5w95loxM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sf5w95loxM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.opened {
  transition: all 0.3s;
}
.cid-sf5w95loxM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sf5w95loxM .navbar .navbar-logo img {
  width: auto;
}
.cid-sf5w95loxM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sf5w95loxM .navbar.collapsed {
  justify-content: center;
}
.cid-sf5w95loxM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sf5w95loxM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sf5w95loxM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sf5w95loxM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sf5w95loxM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sf5w95loxM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sf5w95loxM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sf5w95loxM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sf5w95loxM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sf5w95loxM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sf5w95loxM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sf5w95loxM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sf5w95loxM .navbar.navbar-short {
  min-height: 60px;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sf5w95loxM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sf5w95loxM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sf5w95loxM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sf5w95loxM .dropdown-item.active,
.cid-sf5w95loxM .dropdown-item:active {
  background-color: transparent;
}
.cid-sf5w95loxM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sf5w95loxM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sf5w95loxM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sf5w95loxM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sf5w95loxM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sf5w95loxM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sf5w95loxM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sf5w95loxM .navbar {
    height: 70px;
  }
  .cid-sf5w95loxM .navbar.opened {
    height: auto;
  }
  .cid-sf5w95loxM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sf5wnIdcBV {
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-sf5wnIdcBV .mbr-section-title {
  text-align: right;
  color: #ffffff;
}
.cid-sf5wnIdcBV .mbr-text,
.cid-sf5wnIdcBV .mbr-section-btn {
  text-align: right;
  color: #ffffff;
}
.cid-sf5y89WPhf {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sf5y89WPhf .text-wrapper {
    padding: 2rem;
  }
}
.cid-sf5y89WPhf .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sf5y89WPhf .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sfe339ws84 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfe16fnTyE {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sf5CVLy7Tv {
  padding-top: 9rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sf5CVLy7Tv .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-sf5CVLy7Tv .container {
    max-width: 1400px;
  }
}
.cid-sf5CVLy7Tv .card {
  margin: auto;
}
.cid-sf5CVLy7Tv .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-sf5CVLy7Tv .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sf5CVLy7Tv .row {
  justify-content: center;
}
.cid-sf5LPxBZcj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sf5LPxBZcj img,
.cid-sf5LPxBZcj .item-img {
  width: 100%;
}
.cid-sf5LPxBZcj .item:focus,
.cid-sf5LPxBZcj span:focus {
  outline: none;
}
.cid-sf5LPxBZcj .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sf5LPxBZcj .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sf5LPxBZcj .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sf5LPxBZcj .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sf5LPxBZcj .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sf5LPxBZcj .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sf5LPxBZcj .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sf5LPxBZcj .mbr-section-title {
  color: #000000;
}
.cid-sf5LPxBZcj .mbr-text,
.cid-sf5LPxBZcj .mbr-section-btn {
  text-align: center;
}
.cid-sf5LPxBZcj .item-title {
  text-align: center;
}
.cid-sf5LPxBZcj .item-subtitle {
  text-align: left;
}
.cid-sfVMUPGs6K {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sf5DdwvuPc {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sf5DdwvuPc img {
  width: 120px;
  margin: auto;
}
.cid-sf5DdwvuPc .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sf5DdwvuPc .card {
    max-width: 12.5%;
  }
}
.cid-sfiC1veaa1 {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sfiC1veaa1 img {
  width: 120px;
  margin: auto;
}
.cid-sfiC1veaa1 .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfiC1veaa1 .card {
    max-width: 12.5%;
  }
}
.cid-sfdW9VXmGb {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sfdW9VXmGb img {
  width: 120px;
  margin: auto;
}
.cid-sfdW9VXmGb .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfdW9VXmGb .card {
    max-width: 12.5%;
  }
}
.cid-sfie1PLbQc {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sfie1PLbQc img {
  width: 120px;
  margin: auto;
}
.cid-sfie1PLbQc .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfie1PLbQc .card {
    max-width: 12.5%;
  }
}
.cid-sfitGZ9z9p {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfitGZ9z9p img {
  width: 120px;
  margin: auto;
}
.cid-sfitGZ9z9p .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfitGZ9z9p .card {
    max-width: 12.5%;
  }
}
.cid-sfiyTpv5eG {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sfiyTpv5eG img {
  width: 120px;
  margin: auto;
}
.cid-sfiyTpv5eG .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfiyTpv5eG .card {
    max-width: 12.5%;
  }
}
.cid-sfdbkkWI4l {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfdbkkWI4l img {
  width: 120px;
  margin: auto;
}
.cid-sfdbkkWI4l .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfdbkkWI4l .card {
    max-width: 12.5%;
  }
}
.cid-sfdbkkWI4l .mbr-text {
  text-align: center;
}
.cid-sfhjfkoykf {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfhjfkoykf img {
  width: 120px;
  margin: auto;
}
.cid-sfhjfkoykf .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfhjfkoykf .card {
    max-width: 12.5%;
  }
}
.cid-sfhczgSZNR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfhczgSZNR img {
  width: 120px;
  margin: auto;
}
.cid-sfhczgSZNR .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sfhczgSZNR .card {
    max-width: 12.5%;
  }
}
.cid-sfdr80hN54 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sfdr80hN54 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-sfdr80hN54 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-sfdr80hN54 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sfdr80hN54 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-sfdr80hN54 .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #000000;
}
.cid-sfdr4PWVnw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-facebook:hover {
  background: #0b60cb;
}
.cid-sfdr4PWVnw .socicon-bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-twitter:hover {
  background: #0c85d0;
}
.cid-sfdr4PWVnw .socicon-bg-vkontakte {
  background: #4680C2;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-vkontakte:hover {
  background: #3567a0;
}
.cid-sfdr4PWVnw .socicon-bg-odnoklassniki {
  background: #ee8208;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-odnoklassniki:hover {
  background: #bd6706;
}
.cid-sfdr4PWVnw .socicon-bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-pinterest:hover {
  background: #b3001b;
}
.cid-sfdr4PWVnw .socicon-bg-mail {
  background: #005ff9;
  color: #ffffff;
}
.cid-sfdr4PWVnw .socicon-bg-mail:hover {
  background: #004cc6;
}
.cid-sfdr4PWVnw .btn-social {
  font-size: 32px;
  border-radius: 50%;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
}
.cid-sfdr4PWVnw .btn-social i {
  top: 0;
  line-height: 55px;
  width: 55px;
}
.cid-sfdr4PWVnw [class^="socicon-"]:before,
.cid-sfdr4PWVnw [class*=" socicon-"]:before {
  line-height: 55px;
}
.cid-sfhfG4xpb4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sf5w95loxM {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sf5w95loxM nav.navbar {
  position: fixed;
}
.cid-sf5w95loxM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sf5w95loxM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sf5w95loxM .dropdown-item:hover,
.cid-sf5w95loxM .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sf5w95loxM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sf5w95loxM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sf5w95loxM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sf5w95loxM .nav-link {
  position: relative;
}
.cid-sf5w95loxM .container {
  display: flex;
  margin: auto;
}
.cid-sf5w95loxM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sf5w95loxM .dropdown-menu,
.cid-sf5w95loxM .navbar.opened {
  background: #ffffff !important;
}
.cid-sf5w95loxM .nav-item:focus,
.cid-sf5w95loxM .nav-link:focus {
  outline: none;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sf5w95loxM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sf5w95loxM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.opened {
  transition: all 0.3s;
}
.cid-sf5w95loxM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sf5w95loxM .navbar .navbar-logo img {
  width: auto;
}
.cid-sf5w95loxM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sf5w95loxM .navbar.collapsed {
  justify-content: center;
}
.cid-sf5w95loxM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sf5w95loxM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sf5w95loxM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sf5w95loxM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sf5w95loxM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sf5w95loxM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sf5w95loxM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sf5w95loxM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sf5w95loxM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sf5w95loxM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sf5w95loxM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sf5w95loxM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sf5w95loxM .navbar.navbar-short {
  min-height: 60px;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sf5w95loxM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sf5w95loxM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sf5w95loxM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sf5w95loxM .dropdown-item.active,
.cid-sf5w95loxM .dropdown-item:active {
  background-color: transparent;
}
.cid-sf5w95loxM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sf5w95loxM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sf5w95loxM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sf5w95loxM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sf5w95loxM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sf5w95loxM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sf5w95loxM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sf5w95loxM .navbar {
    height: 70px;
  }
  .cid-sf5w95loxM .navbar.opened {
    height: auto;
  }
  .cid-sf5w95loxM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sfFjGp1Yl1 {
  background-image: url("../../../assets/images/1094754-10153121990550383-1167051060-o-1536x2048.jpeg");
}
.cid-sfFjYOixl3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sfFjYOixl3 img,
.cid-sfFjYOixl3 .item-img {
  width: 100%;
}
.cid-sfFjYOixl3 .item:focus,
.cid-sfFjYOixl3 span:focus {
  outline: none;
}
.cid-sfFjYOixl3 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sfFjYOixl3 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sfFjYOixl3 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sfFjYOixl3 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sfFjYOixl3 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sfFjYOixl3 .mbr-section-title {
  color: #232323;
}
.cid-sfFjYOixl3 .mbr-text,
.cid-sfFjYOixl3 .mbr-section-btn {
  text-align: left;
}
.cid-sfFjYOixl3 .item-title {
  text-align: center;
}
.cid-sfFjYOixl3 .item-subtitle {
  text-align: center;
}
.cid-sfhfG4xpb4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sfSL3qFinJ {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSL3qFinJ .video-wrapper iframe {
  width: 100%;
}
.cid-sfSL3qFinJ .mbr-section-title,
.cid-sfSL3qFinJ .mbr-section-subtitle,
.cid-sfSL3qFinJ .mbr-text {
  text-align: center;
}
.cid-sfSL3qFinJ .mbr-text {
  text-align: left;
}
.cid-sfSUJJFy8J {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSUJJFy8J .video-wrapper iframe {
  width: 100%;
}
.cid-sfSUJJFy8J .mbr-section-title,
.cid-sfSUJJFy8J .mbr-section-subtitle,
.cid-sfSUJJFy8J .mbr-text {
  text-align: center;
}
.cid-sfSUJJFy8J .mbr-text {
  text-align: left;
}
.cid-sfVhDp2EcY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfVhDp2EcY .video-wrapper iframe {
  width: 100%;
}
.cid-sfVhDp2EcY .mbr-section-title,
.cid-sfVhDp2EcY .mbr-section-subtitle,
.cid-sfVhDp2EcY .mbr-text {
  text-align: center;
}
.cid-sfVhDp2EcY .mbr-text {
  text-align: left;
}
.cid-sfSUnzsnGa {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSUnzsnGa .video-wrapper iframe {
  width: 100%;
}
.cid-sfSUnzsnGa .mbr-section-title,
.cid-sfSUnzsnGa .mbr-section-subtitle,
.cid-sfSUnzsnGa .mbr-text {
  text-align: center;
}
.cid-sfSUnzsnGa .mbr-text {
  text-align: left;
}
.cid-sfVpZd7dVI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfVpZd7dVI .video-wrapper iframe {
  width: 100%;
}
.cid-sfVpZd7dVI .mbr-section-title,
.cid-sfVpZd7dVI .mbr-section-subtitle,
.cid-sfVpZd7dVI .mbr-text {
  text-align: center;
}
.cid-sfVpZd7dVI .mbr-text {
  text-align: left;
}
.cid-sfVeu0JtTY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfVeu0JtTY .video-wrapper iframe {
  width: 100%;
}
.cid-sfVeu0JtTY .mbr-section-title,
.cid-sfVeu0JtTY .mbr-section-subtitle,
.cid-sfVeu0JtTY .mbr-text {
  text-align: center;
}
.cid-sfVeu0JtTY .mbr-text {
  text-align: left;
}
.cid-sfSTkVSIz8 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSTkVSIz8 .video-wrapper iframe {
  width: 100%;
}
.cid-sfSTkVSIz8 .mbr-section-title,
.cid-sfSTkVSIz8 .mbr-section-subtitle,
.cid-sfSTkVSIz8 .mbr-text {
  text-align: center;
}
.cid-sfSTkVSIz8 .mbr-text {
  text-align: left;
}
.cid-sfSRJo58uD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSRJo58uD .video-wrapper iframe {
  width: 100%;
}
.cid-sfSRJo58uD .mbr-section-title,
.cid-sfSRJo58uD .mbr-section-subtitle,
.cid-sfSRJo58uD .mbr-text {
  text-align: center;
}
.cid-sfSRJo58uD .mbr-text {
  text-align: left;
}
.cid-sfSIyGIut2 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sfSIyGIut2 nav.navbar {
  position: fixed;
}
.cid-sfSIyGIut2 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sfSIyGIut2 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sfSIyGIut2 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sfSIyGIut2 .dropdown-item:hover,
.cid-sfSIyGIut2 .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sfSIyGIut2 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sfSIyGIut2 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sfSIyGIut2 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sfSIyGIut2 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sfSIyGIut2 .nav-link {
  position: relative;
}
.cid-sfSIyGIut2 .container {
  display: flex;
  margin: auto;
}
.cid-sfSIyGIut2 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sfSIyGIut2 .dropdown-menu,
.cid-sfSIyGIut2 .navbar.opened {
  background: #ffffff !important;
}
.cid-sfSIyGIut2 .nav-item:focus,
.cid-sfSIyGIut2 .nav-link:focus {
  outline: none;
}
.cid-sfSIyGIut2 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sfSIyGIut2 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sfSIyGIut2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sfSIyGIut2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sfSIyGIut2 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sfSIyGIut2 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sfSIyGIut2 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sfSIyGIut2 .navbar.opened {
  transition: all 0.3s;
}
.cid-sfSIyGIut2 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sfSIyGIut2 .navbar .navbar-logo img {
  width: auto;
}
.cid-sfSIyGIut2 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sfSIyGIut2 .navbar.collapsed {
  justify-content: center;
}
.cid-sfSIyGIut2 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sfSIyGIut2 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sfSIyGIut2 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sfSIyGIut2 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sfSIyGIut2 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sfSIyGIut2 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sfSIyGIut2 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sfSIyGIut2 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sfSIyGIut2 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sfSIyGIut2 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sfSIyGIut2 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sfSIyGIut2 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sfSIyGIut2 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sfSIyGIut2 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sfSIyGIut2 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sfSIyGIut2 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sfSIyGIut2 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sfSIyGIut2 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sfSIyGIut2 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sfSIyGIut2 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sfSIyGIut2 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sfSIyGIut2 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sfSIyGIut2 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sfSIyGIut2 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sfSIyGIut2 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sfSIyGIut2 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sfSIyGIut2 .dropdown-item.active,
.cid-sfSIyGIut2 .dropdown-item:active {
  background-color: transparent;
}
.cid-sfSIyGIut2 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sfSIyGIut2 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sfSIyGIut2 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sfSIyGIut2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sfSIyGIut2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sfSIyGIut2 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sfSIyGIut2 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sfSIyGIut2 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sfSIyGIut2 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sfSIyGIut2 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sfSIyGIut2 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sfSIyGIut2 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sfSIyGIut2 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sfSIyGIut2 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sfSIyGIut2 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sfSIyGIut2 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sfSIyGIut2 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sfSIyGIut2 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sfSIyGIut2 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sfSIyGIut2 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sfSIyGIut2 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sfSIyGIut2 .navbar {
    height: 70px;
  }
  .cid-sfSIyGIut2 .navbar.opened {
    height: auto;
  }
  .cid-sfSIyGIut2 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sfUXyIxeFh {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sfUXyIxeFh .item {
  padding-bottom: 2rem;
}
.cid-sfUXyIxeFh .item-wrapper {
  position: relative;
}
.cid-sfUXyIxeFh .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sfUXyIxeFh .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sfUXyIxeFh .carousel-control,
.cid-sfUXyIxeFh .close {
  background: #1b1b1b;
}
.cid-sfUXyIxeFh .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sfUXyIxeFh .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sfUXyIxeFh .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sfUXyIxeFh .carousel-control-next span {
  margin-left: 5px;
}
.cid-sfUXyIxeFh .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sfUXyIxeFh .close::before {
  content: '\e91a';
}
.cid-sfUXyIxeFh .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sfUXyIxeFh .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sfUXyIxeFh .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sfUXyIxeFh .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sfUXyIxeFh .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sfUXyIxeFh .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sfUXyIxeFh .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sfUXyIxeFh .carousel-indicators li.active,
.cid-sfUXyIxeFh .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sfUXyIxeFh .carousel-indicators li::after,
.cid-sfUXyIxeFh .carousel-indicators li::before {
  content: none;
}
.cid-sfUXyIxeFh .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sfUXyIxeFh .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sfUXyIxeFh .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sfUXyIxeFh .carousel-indicators {
    display: none;
  }
}
.cid-sfUXyIxeFh .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sfUXyIxeFh .carousel-inner > .active {
  display: block;
}
.cid-sfUXyIxeFh .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sfUXyIxeFh .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sfUXyIxeFh .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sfUXyIxeFh .carousel-control,
  .cid-sfUXyIxeFh .carousel-indicators,
  .cid-sfUXyIxeFh .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sfUXyIxeFh .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sfUXyIxeFh .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sfUXyIxeFh .carousel-indicators .active,
.cid-sfUXyIxeFh .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sfUXyIxeFh .carousel-indicators .active {
  background: #fff;
}
.cid-sfUXyIxeFh .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sfUXyIxeFh .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sfUXyIxeFh .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sfUXyIxeFh .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sfUXyIxeFh .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sfUXyIxeFh .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sfUXyIxeFh .carousel {
  width: 100%;
}
.cid-sfUXyIxeFh .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sfUXyIxeFh .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sfUXyIxeFh .modal.fade .modal-dialog,
.cid-sfUXyIxeFh .modal.in .modal-dialog {
  transform: none;
}
.cid-sfUXyIxeFh .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sfUXyIxeFh H6 {
  text-align: center;
}
.cid-sfSIyLE351 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sf5w95loxM {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sf5w95loxM nav.navbar {
  position: fixed;
}
.cid-sf5w95loxM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sf5w95loxM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sf5w95loxM .dropdown-item:hover,
.cid-sf5w95loxM .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sf5w95loxM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sf5w95loxM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sf5w95loxM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sf5w95loxM .nav-link {
  position: relative;
}
.cid-sf5w95loxM .container {
  display: flex;
  margin: auto;
}
.cid-sf5w95loxM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sf5w95loxM .dropdown-menu,
.cid-sf5w95loxM .navbar.opened {
  background: #ffffff !important;
}
.cid-sf5w95loxM .nav-item:focus,
.cid-sf5w95loxM .nav-link:focus {
  outline: none;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sf5w95loxM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sf5w95loxM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.opened {
  transition: all 0.3s;
}
.cid-sf5w95loxM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sf5w95loxM .navbar .navbar-logo img {
  width: auto;
}
.cid-sf5w95loxM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sf5w95loxM .navbar.collapsed {
  justify-content: center;
}
.cid-sf5w95loxM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sf5w95loxM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sf5w95loxM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sf5w95loxM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sf5w95loxM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sf5w95loxM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sf5w95loxM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sf5w95loxM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sf5w95loxM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sf5w95loxM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sf5w95loxM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sf5w95loxM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sf5w95loxM .navbar.navbar-short {
  min-height: 60px;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sf5w95loxM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sf5w95loxM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sf5w95loxM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sf5w95loxM .dropdown-item.active,
.cid-sf5w95loxM .dropdown-item:active {
  background-color: transparent;
}
.cid-sf5w95loxM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sf5w95loxM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sf5w95loxM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sf5w95loxM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sf5w95loxM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sf5w95loxM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sf5w95loxM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sf5w95loxM .navbar {
    height: 70px;
  }
  .cid-sf5w95loxM .navbar.opened {
    height: auto;
  }
  .cid-sf5w95loxM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sfSHr1QFRE {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfSHr1QFRE .item {
  padding-bottom: 2rem;
}
.cid-sfSHr1QFRE .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-sfSHr1QFRE .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sfSHr1QFRE .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sfSHr1QFRE .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sfSHr1QFRE .carousel-control,
.cid-sfSHr1QFRE .close {
  background: #1b1b1b;
}
.cid-sfSHr1QFRE .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sfSHr1QFRE .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sfSHr1QFRE .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sfSHr1QFRE .carousel-control-next span {
  margin-left: 5px;
}
.cid-sfSHr1QFRE .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sfSHr1QFRE .close::before {
  content: '\e91a';
}
.cid-sfSHr1QFRE .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sfSHr1QFRE .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sfSHr1QFRE .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sfSHr1QFRE .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sfSHr1QFRE .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sfSHr1QFRE .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sfSHr1QFRE .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sfSHr1QFRE .carousel-indicators li.active,
.cid-sfSHr1QFRE .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sfSHr1QFRE .carousel-indicators li::after,
.cid-sfSHr1QFRE .carousel-indicators li::before {
  content: none;
}
.cid-sfSHr1QFRE .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sfSHr1QFRE .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sfSHr1QFRE .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sfSHr1QFRE .carousel-indicators {
    display: none;
  }
}
.cid-sfSHr1QFRE .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sfSHr1QFRE .carousel-inner > .active {
  display: block;
}
.cid-sfSHr1QFRE .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sfSHr1QFRE .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sfSHr1QFRE .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sfSHr1QFRE .carousel-control,
  .cid-sfSHr1QFRE .carousel-indicators,
  .cid-sfSHr1QFRE .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sfSHr1QFRE .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sfSHr1QFRE .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sfSHr1QFRE .carousel-indicators .active,
.cid-sfSHr1QFRE .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sfSHr1QFRE .carousel-indicators .active {
  background: #fff;
}
.cid-sfSHr1QFRE .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sfSHr1QFRE .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sfSHr1QFRE .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sfSHr1QFRE .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sfSHr1QFRE .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sfSHr1QFRE .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sfSHr1QFRE .carousel {
  width: 100%;
}
.cid-sfSHr1QFRE .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sfSHr1QFRE .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sfSHr1QFRE .modal.fade .modal-dialog,
.cid-sfSHr1QFRE .modal.in .modal-dialog {
  transform: none;
}
.cid-sfSHr1QFRE .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sfSHr1QFRE H6 {
  text-align: center;
}
.cid-sfhfG4xpb4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sf5w95loxM {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sf5w95loxM nav.navbar {
  position: fixed;
}
.cid-sf5w95loxM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sf5w95loxM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sf5w95loxM .dropdown-item:hover,
.cid-sf5w95loxM .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sf5w95loxM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sf5w95loxM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sf5w95loxM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sf5w95loxM .nav-link {
  position: relative;
}
.cid-sf5w95loxM .container {
  display: flex;
  margin: auto;
}
.cid-sf5w95loxM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sf5w95loxM .dropdown-menu,
.cid-sf5w95loxM .navbar.opened {
  background: #ffffff !important;
}
.cid-sf5w95loxM .nav-item:focus,
.cid-sf5w95loxM .nav-link:focus {
  outline: none;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sf5w95loxM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sf5w95loxM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sf5w95loxM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sf5w95loxM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.opened {
  transition: all 0.3s;
}
.cid-sf5w95loxM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sf5w95loxM .navbar .navbar-logo img {
  width: auto;
}
.cid-sf5w95loxM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sf5w95loxM .navbar.collapsed {
  justify-content: center;
}
.cid-sf5w95loxM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sf5w95loxM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sf5w95loxM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sf5w95loxM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sf5w95loxM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sf5w95loxM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sf5w95loxM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sf5w95loxM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sf5w95loxM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sf5w95loxM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sf5w95loxM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sf5w95loxM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sf5w95loxM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sf5w95loxM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sf5w95loxM .navbar.navbar-short {
  min-height: 60px;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sf5w95loxM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sf5w95loxM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sf5w95loxM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sf5w95loxM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sf5w95loxM .dropdown-item.active,
.cid-sf5w95loxM .dropdown-item:active {
  background-color: transparent;
}
.cid-sf5w95loxM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sf5w95loxM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sf5w95loxM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sf5w95loxM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sf5w95loxM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sf5w95loxM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sf5w95loxM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sf5w95loxM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sf5w95loxM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sf5w95loxM .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sf5w95loxM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sf5w95loxM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sf5w95loxM .navbar {
    height: 70px;
  }
  .cid-sf5w95loxM .navbar.opened {
    height: auto;
  }
  .cid-sf5w95loxM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sfVHX27smX {
  background-image: url("../../../assets/images/screen-shot-2020-11-10-at-10.46.03-am-649x664.png");
}
.cid-sfQFXWmZbv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sfQFXWmZbv img,
.cid-sfQFXWmZbv .item-img {
  width: 100%;
}
.cid-sfQFXWmZbv .item:focus,
.cid-sfQFXWmZbv span:focus {
  outline: none;
}
.cid-sfQFXWmZbv .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sfQFXWmZbv .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sfQFXWmZbv .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sfQFXWmZbv .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sfQFXWmZbv .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sfQFXWmZbv .mbr-section-title {
  color: #232323;
}
.cid-sfQFXWmZbv .mbr-text,
.cid-sfQFXWmZbv .mbr-section-btn {
  text-align: left;
}
.cid-sfQFXWmZbv .item-title {
  text-align: left;
}
.cid-sfQFXWmZbv .item-subtitle {
  text-align: left;
}
.cid-sfQG9eTHMl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sfQG9eTHMl img,
.cid-sfQG9eTHMl .item-img {
  width: 100%;
}
.cid-sfQG9eTHMl .item:focus,
.cid-sfQG9eTHMl span:focus {
  outline: none;
}
.cid-sfQG9eTHMl .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sfQG9eTHMl .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sfQG9eTHMl .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sfQG9eTHMl .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sfQG9eTHMl .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sfQG9eTHMl .mbr-section-title {
  color: #232323;
}
.cid-sfQG9eTHMl .mbr-text,
.cid-sfQG9eTHMl .mbr-section-btn {
  text-align: left;
}
.cid-sfQG9eTHMl .item-title {
  text-align: left;
}
.cid-sfQG9eTHMl .item-subtitle {
  text-align: left;
}
.cid-sfhfG4xpb4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sfUYxhCTbf {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sfUYxhCTbf nav.navbar {
  position: fixed;
}
.cid-sfUYxhCTbf .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sfUYxhCTbf .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sfUYxhCTbf .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sfUYxhCTbf .dropdown-item:hover,
.cid-sfUYxhCTbf .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-sfUYxhCTbf .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sfUYxhCTbf .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sfUYxhCTbf .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sfUYxhCTbf .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sfUYxhCTbf .nav-link {
  position: relative;
}
.cid-sfUYxhCTbf .container {
  display: flex;
  margin: auto;
}
.cid-sfUYxhCTbf .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sfUYxhCTbf .dropdown-menu,
.cid-sfUYxhCTbf .navbar.opened {
  background: #ffffff !important;
}
.cid-sfUYxhCTbf .nav-item:focus,
.cid-sfUYxhCTbf .nav-link:focus {
  outline: none;
}
.cid-sfUYxhCTbf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sfUYxhCTbf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sfUYxhCTbf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sfUYxhCTbf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sfUYxhCTbf .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sfUYxhCTbf .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sfUYxhCTbf .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sfUYxhCTbf .navbar.opened {
  transition: all 0.3s;
}
.cid-sfUYxhCTbf .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sfUYxhCTbf .navbar .navbar-logo img {
  width: auto;
}
.cid-sfUYxhCTbf .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sfUYxhCTbf .navbar.collapsed {
  justify-content: center;
}
.cid-sfUYxhCTbf .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sfUYxhCTbf .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sfUYxhCTbf .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sfUYxhCTbf .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sfUYxhCTbf .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sfUYxhCTbf .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sfUYxhCTbf .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sfUYxhCTbf .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sfUYxhCTbf .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sfUYxhCTbf .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sfUYxhCTbf .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sfUYxhCTbf .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sfUYxhCTbf .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sfUYxhCTbf .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sfUYxhCTbf .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sfUYxhCTbf .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sfUYxhCTbf .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sfUYxhCTbf .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sfUYxhCTbf .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sfUYxhCTbf .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sfUYxhCTbf .navbar.navbar-short {
  min-height: 60px;
}
.cid-sfUYxhCTbf .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sfUYxhCTbf .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sfUYxhCTbf .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sfUYxhCTbf .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sfUYxhCTbf .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sfUYxhCTbf .dropdown-item.active,
.cid-sfUYxhCTbf .dropdown-item:active {
  background-color: transparent;
}
.cid-sfUYxhCTbf .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sfUYxhCTbf .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sfUYxhCTbf .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sfUYxhCTbf .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sfUYxhCTbf .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sfUYxhCTbf .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sfUYxhCTbf ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sfUYxhCTbf .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sfUYxhCTbf button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sfUYxhCTbf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sfUYxhCTbf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sfUYxhCTbf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sfUYxhCTbf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sfUYxhCTbf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sfUYxhCTbf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sfUYxhCTbf nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sfUYxhCTbf nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sfUYxhCTbf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sfUYxhCTbf .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sfUYxhCTbf a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sfUYxhCTbf .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sfUYxhCTbf .navbar {
    height: 70px;
  }
  .cid-sfUYxhCTbf .navbar.opened {
    height: auto;
  }
  .cid-sfUYxhCTbf .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sfUYxlrpdw {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxlrpdw .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxlrpdw .mbr-section-title,
.cid-sfUYxlrpdw .mbr-section-subtitle,
.cid-sfUYxlrpdw .mbr-text {
  text-align: center;
}
.cid-sfUYxlrpdw .mbr-text {
  text-align: left;
}
.cid-sfUYxnf3SK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxnf3SK .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxnf3SK .mbr-section-title,
.cid-sfUYxnf3SK .mbr-section-subtitle,
.cid-sfUYxnf3SK .mbr-text {
  text-align: center;
}
.cid-sfUYxnf3SK .mbr-text {
  text-align: left;
}
.cid-sfUYxmle5n {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxmle5n .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxmle5n .mbr-section-title,
.cid-sfUYxmle5n .mbr-section-subtitle,
.cid-sfUYxmle5n .mbr-text {
  text-align: center;
}
.cid-sfUYxmMzEb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxmMzEb .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxmMzEb .mbr-section-title,
.cid-sfUYxmMzEb .mbr-section-subtitle,
.cid-sfUYxmMzEb .mbr-text {
  text-align: center;
}
.cid-sfUYxnPoFX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxnPoFX .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxnPoFX .mbr-section-title,
.cid-sfUYxnPoFX .mbr-section-subtitle,
.cid-sfUYxnPoFX .mbr-text {
  text-align: center;
}
.cid-sfUYxolgqi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sfUYxolgqi .video-wrapper iframe {
  width: 100%;
}
.cid-sfUYxolgqi .mbr-section-title,
.cid-sfUYxolgqi .mbr-section-subtitle,
.cid-sfUYxolgqi .mbr-text {
  text-align: center;
}
.cid-sfUYxoNgIj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
